@import "../partials/mixins";
@import '../partials/variables-main-page';

.common {
  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mobile {
      flex-direction: column;
      margin-bottom: 16px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: 65%;

    @include mobile {
      max-width: 100%;
    }
  }

  &__subtitle {
    max-width: 26%;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;

    @include tablet {
      max-width: 31%;
    }

    @include mobile {
      font-size: 18px;
      line-height: 21px;
      max-width: 100%;
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 65%;

    @include desktop {
      &_mobile {
        display: none;
      }
    }

    @include tablet {
      &_mobile {
        display: none;
      }
    }

    @include mobile {
      max-width: 100%;
      font-size: 14px;
      line-height: 16px;

      &_desktop {
        display: none;
      }
    }
  }
}